@font-face {
    font-family: 'bungee-regular';
    src: url('../fonts/bungee-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'bungeeshade-regular';
    src: url('../fonts/bungeeshade-regular.ttf') format('truetype');
}
html {
  font-size: 14px;
}

@media (min-width: 1024px){
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {  
  margin-bottom: 60px;
  background-image: linear-gradient(#f23054, #f21b7f, #f25116, #f23a29);
  font-family: bungee-regular;
}

h1{
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
    font-family: bungeeshade-regular;
}

.form-conteiner {
    position: relative;
    top: 150px;
    background-color: white;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
}

.form label {
    color: #f21b7f;
}

.form-group{
    text-align: start;
}

.form-group input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 90px;
    top: -30.5px;
    margin-bottom: -15px;
}

.boton input {
    margin-top: 10px;
    width: 300px;
    height: 40px;
    background-color: #f21D6B;
    border: 0.1px solid #f21D6B;
    border-radius: 5px;
    color: white;
    
}

.boton input:hover {
    box-shadow: grey 5px 5px 10px 0px;
    border-radius: 5px;
}

    .crear-sala {
        margin-top: 10px;
        font-size: 12px;
    }

    .crear-sala a {
        color: #f25116;
        text-decoration: none;
    }



.form-contenedor-crear {
    background-color: white;
    width: 470px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    top: 50px;
    left: 300px;
    padding: 5px;
    margin-top: 30px;
    
}

.form-group-crear {
    font-size: 15px;
    color: #f23054;
    position: relative;
    left: 10px;
    margin-top: 10px;
}

.form-group-crear input{
    border-radius: 5px;
    border: 1px solid grey;
    height: 35px;
    width: 272px;
    position: relative;
    left: 10px;
}

    .form-group-crear select {
        border-radius: 5px;
        width: 270px;
        height: 35px;
        border: 1px solid grey;
        color: #f23054;
        position: relative;
        left: 10px;
    }

#select-participantes{
    position: relative;
    left: 35px;
    top: -5px;
}

#pin-crear input {
    position: relative;
    left: 125px;
    height: 35px;
}

.form-group-crear-boton input {
    background-color: #f23a29;
    border: none;
    border-radius: 5px;
    color: white;
    width: 300px;
    height: 40px;
    position: relative;
    left: 80px;
    top: 50px;
}

    .form-group-crear-boton input:hover {
        box-shadow: black 3px 3px 10px 0px;
        border-radius: 5px;
    }

    .form-group-crear span {
       color: black;
       font-size: 15px;
       display: flex;
    }

@media (max-width: 480px){

body {
    font-size: 14px;
  }

h1{
    color: white;
    text-align: center;
    display: block;
    top: 100px;
    font-family: bungeeshade-regular;
}

.boton input {
    margin-top: 10px;
    width: 270px;
    height: 40px;
    position: relative;
    right: 10px;
    background-color: #f21D6B;
    border: 0.1px solid #f21D6B;
    border-radius: 5px;
    color: white;
}

.crear-sala {
        margin-top: 10px;
        font-size: 12px;
        position: relative;
        right: 10px;
    }

    .crear-sala a {
        color: #f25116;
        text-decoration: none;
    }
}

@media (max-width: 480px){

.form-contenedor-crear {
    background-color: white;
    width: 300px;
    height: 230px;
    border-radius: 5px;
    top: 50px;
    padding: 5px;
    margin-top: 30px;
    position: relative;
    left: 50px;
 
}

.form-group-crear {
    font-size: 15px;
    color: #f23054;
    position: relative;
    left: 5px;
    margin-top: 10px;
}

.form-group-crear input{
    border-radius: 5px;
    border: 1px solid grey;
    height: 30px;
    width: 115px;
    position: relative;
    left: 15px;
}


.form-group-crear select {
        border-radius: 5px;
        width: 115px;
        height: 30px;
        border: 1px solid grey;
        color: #f23054;
        position: relative;
        left: 13px;
    }

#CantPieces{
   font-size: 6.5px;
}


.form-group-crear-boton input {
    background-color: #f23a29;
    border: none;
    border-radius: 5px;
    color: white;
    width: 220px;
    height: 30px;
    position: relative;
    left: 30px;
    top: 30px;
}

#pin-crear input {
    position: relative;
    left: 130px;
    height: 30px;
}

.form-group-crear-boton input:hover {
        box-shadow: black 3px 3px 10px 0px;
        border-radius: 5px;
    }

    .form-group-crear span {
       color: black;
       font-size: 9px;
       display: flex;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
  /* Estilos para tablets */


  .form-contenedor-crear {
    background-color: white;
    width: 350px;
    height: 230px;
    border-radius: 5px;
    top: 50px;
    padding: 5px;
    margin-top: 30px;
    position: relative;
    left: 70px;
 
}

.form-group-crear {
    font-size: 15px;
    color: #f23054;
    position: relative;
    left: 10px;
    margin-top: 10px;
}

.form-group-crear input{
    border-radius: 5px;
    border: 1px solid grey;
    height: 30px;
    width: 160px;
    position: relative;
    left: 15px;
}


.form-group-crear select {
        border-radius: 5px;
        width: 160px;
        height: 30px;
        border: 1px solid grey;
        color: #f23054;
        position: relative;
        left: 13px;
    }

#CantPieces{
   font-size: 10px;
}


.form-group-crear-boton input {
    background-color: #f23a29;
    border: none;
    border-radius: 5px;
    color: white;
    width: 250px;
    height: 30px;
    position: relative;
    left: 40px;
    top: 30px;
}

#pin-crear input {
    position: relative;
    left: 130px;
    height: 30px;
}

.form-group-crear-boton input:hover {
        box-shadow: black 3px 3px 10px 0px;
        border-radius: 5px;
    }

    .form-group-crear span {
       color: black;
       font-size: 9px;
       display: flex;
    }

}

